.button{
    background: var(--color-yellow-50);
    border: none;
    color: var(--color-orange-10);
    border-radius: 8px;
    padding-block: 0px;
    padding-inline: 20px;
    min-width: 84px;
    max-width: 480px;
    width: 100%;
}