.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: var(--color-white-solid);
  text-transform: capitalize;
}

.input {
  width: 100%;
  background: var(--color-orange-21-500);
  border-radius: 8px;
  padding: 16px;
  height: 56px;
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white-solid);
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: var(--color-white--700);
}
