.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px;
    border-style: dashed;
    box-shadow: none;
    background: transparent;
}

.icon {
  color: var(--color-yellow-52-700);
  font-size: 41px;
}

.title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;

  /* line-height: 28px; */
  line-height: 1.55556;
  text-align: center;
  color: var(--color-grey-92);
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  text-align: center;
  color: var(--color-cadet-blue);
}
