.mainlayout{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content > div{
    display: flex;
    flex-direction: column;
}

.content > div >div:nth-child(2){
    flex: 1;
    overflow-y: auto;
}