.modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  z-index: 999;
  max-width: 100% !important;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.closebutton {
  position: absolute;
  right: -35px;
  top: -35px;
}
