.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;

  border-bottom: 1px solid var(--color-yellow-52-200);
  padding-block: 16px 17px;
  padding-inline: 16px;
  height: 73px;

  backdrop-filter: blur(4px);
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  /* line-height: 28px; */
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-grey-92);
}

.holder{
  position: absolute;
}

.left{
  left: 15px;
}

.right{
  right: 15px;
}